parameters:
    level: 6
    paths:
        - app/
        - config/
        - routes/
    excludePaths:
        - tests/
        - vendor/
        - bootstrap/cache/*
        - storage/*
    checkGenericClassInNonGenericObjectType: false
