includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - app/
        - config/
        - routes/
    excludePaths:
        - tests/
        - vendor/
        - bootstrap/cache/*
        - storage/*
