openapi: 3.0.3
info:
  title: Aukcije.ba API
  description: Regionalna aukcijska platforma API dokumentacija
  version: 1.0.0
  contact:
    name: Aukcije.ba Support
    email: support@aukcije.ba
    url: https://aukcije.ba/help

servers:
  - url: https://api.aukcije.ba/api/v1
    description: Production server
  - url: https://staging-api.aukcije.ba/api/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Local development

tags:
  - name: Auth
    description: Authentication and authorization
  - name: Auctions
    description: Auction management
  - name: Bids
    description: Bidding operations
  - name: Orders
    description: Order management
  - name: Payments
    description: Payment processing
  - name: Wallet
    description: Wallet operations
  - name: Users
    description: User management
  - name: Shipping
    description: Shipping and logistics
  - name: Admin
    description: Admin operations

paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - type
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                type:
                  type: string
                  enum: [buyer, seller]
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          description: Validation error

  /auth/login:
    post:
      tags:
        - Auth
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials

  /auctions:
    get:
      tags:
        - Auctions
      summary: List auctions
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, finished, sold, cancelled]
        - name: category_id
          in: query
          schema:
            type: integer
        - name: price_min
          in: query
          schema:
            type: number
        - name: price_max
          in: query
          schema:
            type: number
        - name: search
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [ending_soon, price_low, price_high, newest, most_bids]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of auctions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auction'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags:
        - Auctions
      summary: Create auction (seller only)
      security:
        - sanctum:
            - create-auction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuctionRequest'
      responses:
        '201':
          description: Auction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        '403':
          description: Not authorized (not a seller)

  /auctions/{id}:
    get:
      tags:
        - Auctions
      summary: Get auction details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Auction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        '404':
          description: Auction not found

  /auctions/{id}/bid:
    post:
      tags:
        - Bids
      summary: Place a bid
      security:
        - sanctum:
            - place-bid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: number
                  minimum: 0.01
                is_proxy:
                  type: boolean
                  default: false
                max_amount:
                  type: number
                  description: For proxy bids
      responses:
        '200':
          description: Bid placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bid'
        '400':
          description: Bid too low
        '403':
          description: Cannot bid on own auction
        '410':
          description: Auction ended
        '429':
          description: Rate limit exceeded

  /user/wallet:
    get:
      tags:
        - Wallet
      summary: Get wallet balance
      security:
        - sanctum:
            - view-wallet
      responses:
        '200':
          description: Wallet balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'

    post:
      tags:
        - Wallet
      summary: Deposit funds
      security:
        - sanctum:
            - deposit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - gateway
              properties:
                amount:
                  type: number
                  minimum: 10
                gateway:
                  type: string
                  enum: [stripe, monri, corvuspay]
      responses:
        '200':
          description: Deposit initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'

components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
        token_type:
          type: string
          example: Bearer

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            type: string
        kyc_level:
          type: integer
          minimum: 0
          maximum: 3
        trust_score:
          type: number
          format: float

    Auction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        start_price:
          type: number
        current_price:
          type: number
        buy_now_price:
          type: number
          nullable: true
        status:
          type: string
          enum: [draft, active, finished, sold, cancelled]
        ends_at:
          type: string
          format: date-time
        bids_count:
          type: integer
        seller:
          $ref: '#/components/schemas/User'
        category:
          $ref: '#/components/schemas/Category'

    CreateAuctionRequest:
      type: object
      required:
        - title
        - description
        - start_price
        - duration_days
      properties:
        title:
          type: string
        description:
          type: string
        start_price:
          type: number
        buy_now_price:
          type: number
        duration_days:
          type: integer
          enum: [3, 5, 7, 10]
        category_id:
          type: integer

    Bid:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
        user_id:
          type: string
          format: uuid
        is_winning:
          type: boolean
        created_at:
          type: string
          format: date-time

    Wallet:
      type: object
      properties:
        balance:
          type: number
        escrow_balance:
          type: number
        total:
          type: number

    PaymentIntent:
      type: object
      properties:
        client_secret:
          type: string
        redirect_url:
          type: string

    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer
